{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

<div class="work-background"></div>
<div class="work-container">
    <div style="display:flex; justify-content:space-around; margin:auto; ">
        {{#post}}
            <div style="margin-top:150px; margin-left:10%;">
                <h1 class="work-title">{{title}}</h1>
                <div class="work-content" >{{content}}</div>
            </div>
            <img class="work-image" src="{{feature_image}}" />
        {{/post}}
    </div>
    <h2 style="text-align:center; margin-bottom:20px; ">Projects</h2>
    {{#get "posts" include="tags" filter="tag:_project + tag:pie"  order="published_at asc"}}

        <div style="display:flex; justify-content:center">
            <a href="/work/">
                <button class="all-posts-button">ALL PROJECTS</button>
            </a>
            <a href="/work-prototype/">
                <button class="all-posts-button">PROTOTYPE</button>
            </a>
            <a href="/work-pie/">
                <button style="background-color:#E30F17; color:white;" class="all-posts-button">PIE</button>
            </a>
            <a href="/work-dataviz/">
                <button class="all-posts-button">DATA VIZ</button>
            </a>
            <a href="/work-research/">
                <button class="all-posts-button">RESEARCH</button>
            </a>
            <a href="/work-design/">
                <button class="all-posts-button">DESIGN</button>
            </a>
        </div>
        <div style="margin-top:-20px;" class="featured-project-feed inner posts">
            {{#foreach posts}}
                {{#has index="0,1"}}
                    {{> "featured-project-card"}}
                {{/has}}
                {{!-- {{#if featured}}
                    {{> "project-card"}}
                {{/if}} --}}
            {{/foreach}}
        </div>
        <div class="project-feed inner posts">
            {{#foreach posts}}
                {{^has index="0,1"}}
                    {{> "project-card"}}
                {{/has}}
            {{/foreach}}
        </div>
    {{/get}}
</div>